In [23]:
import pandas as pd

In [24]:
def extract_info_from_file(file_path):
    data = {}

    with open(file_path, 'r') as file:
        for line in file:
            if not ":" in line:
                continue
            label, value = line.split(':', 1)
            if label in ["Epoch", "Loss", "Question", "Predicted Output"]:
                continue
            label = label.strip()
            value = value.strip()

            if len(value.split(" "))==2:
                if '.' in value:
                    value = float(value.split(" ")[0])
                else:
                    value = int(value.split(" ")[0]) 
            else:

                if '.' in value:
                    value = float(value)
                else:
                    value = int(value) 
            if label in data.keys():
                data[label].append(value)
            else:
                data[label]=[]

    return data

In [25]:
file_path = 'RNN_log_2024_04_26.txt'

In [26]:
info = extract_info_from_file(file_path)

In [27]:
info

{'Number of elements': [500, 500, 500, 500, 500, 500, 500],
 'Batch size': [16, 16, 16, 64, 64, 64, 64],
 'Unit size': [256, 2048, 2048, 256, 256, 2048, 2048],
 'Number of epochs': [2000, 400, 2000, 400, 2000, 400, 2000],
 'Duration': [2868.0089,
  1575.8907,
  7877.9283,
  217.4865,
  1080.0281,
  565.3321,
  2861.4205]}

In [28]:
df = pd.DataFrame(info)

In [29]:
df

   Number of elements  Batch size  Unit size  Number of epochs   Duration
0                 500          16        256              2000  2868.0089
1                 500          16       2048               400  1575.8907
2                 500          16       2048              2000  7877.9283
3                 500          64        256               400   217.4865
4                 500          64        256              2000  1080.0281
5                 500          64       2048               400   565.3321
6                 500          64       2048              2000  2861.4205

In [31]:
df.to_csv(file_path[:-3]+"csv")